<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <img src="./assets/lessons/book.png" alt="zdjęcie lekcji" class="img-fluid w-100">
    </div>
    <div class="col-6">
      <h3>Tutaj będzie znajdować się nazwa lekcji</h3>
      <p class="mt-4" style="font-size: 1.3em;">Tutaj będzie koszt (1h)</p>
      <button class="btn btn-outline-primary btn-lg ml-4 mt-lg-5">Napisz do korepetytora</button>
      <div class="row mt-5">
        <p class="mt-5" style="font-size: 1.1em;">Tutaj będą znajdować się pozostałe informacje</p>
      </div>
    </div>
  </div>
</div>
