  <div class="container">
    <div class="row">
      <section class="col-3">
        <h5 class="text-dark ml-3 mb-5">Filtry</h5>
        <ul class="list-group my-3">
          <li class="list-group-item active">matematyka</li>
          <li class="list-group-item ">język polski</li>
          <li class="list-group-item ">język angielski</li>
          <li class="list-group-item ">język niemiecki</li>
          <li class="list-group-item ">język hiszpański</li>
          <li class="list-group-item ">chemia</li>
          <li class="list-group-item ">biologia</li>
          <li class="list-group-item ">ekonomia</li>
          <li class="list-group-item ">historia</li>
          <li class="list-group-item ">wos</li>
          <li class="list-group-item ">fizyka</li>
          <li class="list-group-item ">muzyka (gra na instrumencie)</li>
          <li class="list-group-item ">informatyka</li>

        </ul>
      </section>

      <section class="col-9">
        <div class="d-flex justify-content-end align-items-center pb-2">
          <div class="form-inline mt-2">
            <input type="text" class="form-control" style="width: 300px;" placeholder="Szukaj...">
            <button class="btn btn-primary my-2 ml-5" style="width: 100px;">Szukaj</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/book.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Matematyka z Patrykiem</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button routerLink="/announcement/details" type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/blackboard.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Polski z Agatą</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/book-2.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Niemiecki z Adamem</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/learning-2.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Fizyka z Damianem</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/learning.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Informatyka z Dominikiem</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/online-lesson.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Historia z Aleksandrą</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/online-lesson-2.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Chemia z Iwoną</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/teachers.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Muzyka z Alicją</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow image" style="cursor: pointer">
              <img class="card-img-top img-fluid position-relative bg-light" src="./assets/lessons/video-lesson.png"
                   alt="book" style="height: 80%; width: 100%; display: block;"  data-holder-rendered="true">
              <div class="card-body">
                <p class="text-muted mt-2">Informatyka z Michałem</p>
                <p class="text-primary mt-2">Krótki opis dotyczący tej korepetycji.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center justify-content-center hover-overlay">
                    <button type="button" class="btn btn-sm btn-secondary">Szczegóły</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
