<div class="container">
  <div class="d-flex justify-content-center p-4">
    <h1>Znajdź korepetycje w swojej okolicy</h1>
  </div>
  <div class="d-flex justify-content-center p-4">
    <img src="./assets/icons/study.png" alt="study icon" style="max-height: 220px;">
  </div>
  <div class="d-flex justify-content-center p-4">
    <span class="font-weight-light" style="margin-top: 10px; font-size: 1.5em;">To nic nie kosztuje, a już po jednej
      lekcji będziesz czuć ogromną satysfakcję ze zdobytej wiedzy</span>
  </div>
  <div class="d-flex justify-content-center p-4">
    <a routerLink="/register" class="btn btn-outline-primary" style="background-color: #95d6a4">Zarejestruj się za darmo</a>
  </div>
</div>
